@model ApplicationUser
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Athunt.cshtml";
}

             <h4>Update User Data</h4>
               
                <form  class="pt-3" method ="post"  asp-controller = "Admins" asp-action = "Edit">
                    <div asp-validation-summary ="All"></div>

                      <div class="form-group">
                      <input type = "hidden" class="form-control form-control-lg"  asp-for="Id" />
                        </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                          <input asp-for = "UserName" type="text" class="form-control"  placeholder="User Name">
                           <span asp-validation-for = "@Model.UserName" class = "text-danger"></span> 
                      </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">PhoneNumber</label>
                        <div class="col-sm-9">
                          <input asp-for = "PhoneNumber" type="text" class="form-control"  placeholder="Phone Number">
                           <span asp-validation-for = "@Model.PhoneNumber" class = "text-danger"></span> 
                      </div>
                      </div>
                  
               

                  <div class="mt-3">
                   <button type="submit" class="btn btn-gradient-primary me-2">Save</button>
                   <a asp-controller ="Admins" asp-action = "Index" class="btn btn-gradient-primary me-2">Back To Home Page</a>
                  </div>

                </form>
 @section ScriptSection {
<script src="~/section/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/section/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}